<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Successful Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-top: 10px;
}

</style>
<body>
    {{>navbar}}
    <div class="container">
        <h1>Successfully logged in</h1>
        <p>Correct Details</p>
    </div>
</body>

</html>
